/* Genel CSS düzenlemeleri */

/* Tema renk değişkenleri */
:root {
  /* Genel arka plan renkleri */
  --color-light-bg: #f7f7f7; /* Aydınlık tema ana arka plan */
  --color-dark-bg: #242424;  /* Karanlık tema ana arka plan */

  /* Logo renkleri */
  --color-light-logo: #222;  /* Aydınlık tema logo rengi */
  --color-dark-logo: #ffffffef; /* Karanlık tema logo rengi */

  /* Ayarlar butonu renkleri */
  --color-light-settings-btn-bg: #cdcdcd; /* Aydınlık tema ayarlar butonu arka plan */
  --color-light-settings-btn-text: #222;   /* Aydınlık tema ayarlar butonu yazı */
  --color-dark-settings-btn-bg: #444444;   /* Karanlık tema ayarlar butonu arka plan */
  --color-dark-settings-btn-text: #ffffff; /* Karanlık tema ayarlar butonu yazı */

  /* Ayarlar paneli renkleri */
  --color-light-settings-panel-bg: #e8e6e6; /* Aydınlık tema panel arka plan */
  --color-light-settings-panel-text: #000;  /* Aydınlık tema panel yazı */
  --color-dark-settings-panel-bg: #323232;  /* Karanlık tema panel arka plan */
  --color-dark-settings-panel-text: #ffffff;/* Karanlık tema panel yazı */

  /* Select kutusu renkleri */
  --color-light-select-bg: #e0e0e0; /* Aydınlık tema select arka plan */
  --color-light-select-text: #000;   /* Aydınlık tema select yazı */
  --color-dark-select-bg: #1f1f1f;   /* Karanlık tema select arka plan */
  --color-dark-select-text: #fff;    /* Karanlık tema select yazı */

  /* Arama butonu renkleri */
  --color-light-submit-btn-bg: #4285f4; /* Aydınlık tema arama butonu arka plan */
  --color-light-submit-btn-hover-bg: #357ae8; /* Aydınlık tema arama butonu hover arka plan */
  --color-light-submit-btn-text-bg: #fff;     /* Aydınlık tema arama butonu yazı rengi */
  --color-dark-submit-btn-bg: #295fb4;  /* Karanlık tema arama butonu arka plan */
  --color-dark-submit-btn-hover-bg: #1a3d7c;  /* Karanlık tema arama butonu hover arka plan */
  --color-dark-submit-btn-text-bg: #f1f3f7;   /* Karanlık tema arama butonu yazı rengi */

  /* Arama kutusu kenarlık rengi */
  --color-input-border: #ccc;

  /* Footer (alt bilgi) renkleri */
  --color-light-footer-bg: #e9e9e9; /* Aydınlık tema footer arka plan */
  --color-light-footer-text: #222;   /* Aydınlık tema footer yazı */
  --color-dark-footer-bg: #333333;   /* Karanlık tema footer arka plan */
  --color-dark-footer-text: #fff;    /* Karanlık tema footer yazı */

  /* Bildirim kutusu (notificationBox ve newVersion) renkleri */
  --color-light-notification-bg: #eeeeee; /* Aydınlık tema bildirim kutusu arka plan */
  --color-light-notification-text: #222;  /* Aydınlık tema bildirim kutusu yazı */
  --color-dark-notification-bg: #333333;  /* Karanlık tema bildirim kutusu arka plan */
  --color-dark-notification-text: #fff;   /* Karanlık tema bildirim kutusu yazı */

  /* Bağış butonu */
  --color-dark-donete-text:white;
  --color-dark-donete-bg: #817f4b;
  --color-dark-donete-bg-hover: #6e6d40;

  --color-light-donete-text: #222;
  --color-light-donete-bg: #e7cb14;
  --color-light-donete-bg-hover: #d1b812;

}

html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background 0.2s, color 0.2s;
    background-color: var(--color-dark-bg);
  }

    /* Tema renkleri */
  body.light {
    background-color: var(--color-light-bg);
    --color-submit-btn-bg: var(--color-light-submit-btn-bg);
  }

  body.dark {
    background-color: var(--color-dark-bg);
    --color-submit-btn-bg: var(--color-dark-submit-btn-bg);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
  }

  .checkbox {
    visibility: hidden;
  }

  .jsWarning {
    z-index: 1001;
    position: relative;
    background: #ffdddd;
    color: #a00; 
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  .preLoadBackground {
    position: fixed;
    inset: 0;    
    background: #242424;
    z-index: 1000;
  }

  /* Logo */
  .logo {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 10px;
  }

  body.light .logo {
    color: var(--color-light-logo);
  }

  body.dark .logo {
    color: var(--color-dark-logo);
  }

  /* Ayarlar düğmesi */
  .settings-button {
    z-index: 999;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-settings-btn-bg);
  }
  
  .settings-button * {
    pointer-events: none;
  }

  body.light .settings-button {
    background-color: var(--color-light-settings-btn-bg);
    color: var(--color-light-settings-btn-text);
  }

  body.dark .settings-button {
    background-color: var(--color-dark-settings-btn-bg);
    color: var(--color-dark-settings-btn-text);
  }

  .github-link {
    color: #888888 ; /* Gri ton */
     /* text-decoration: none; // alt çizgiyi kaldırır */
  }
    .github-link :hover {
    color: #b8b8b8 ; /* Gri ton */
     /* text-decoration: none; // alt çizgiyi kaldırır */
  }

  /* Ayarlar paneli */
  .settings-panel {
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000066;
    display: none;
    z-index: 999;
    min-width: 250px;
    font-size: 14px;
  }

  body.light .settings-panel {
    background-color: var(--color-light-settings-panel-bg);
    color: var(--color-light-settings-panel-text);
  }

  body.dark .settings-panel {
    background-color: var(--color-dark-settings-panel-bg);
    color: var(--color-dark-settings-panel-text);
  }

  .settings-panel h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
  }

  .settings-group {
    margin-bottom: 15px;
  }

  .settings-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .settings-group select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 5px;
  }

  body.light .settings-group select {
    background-color: var(--color-light-select-bg);
    color: var(--color-light-select-text);
  }

  body.dark .settings-group select {
    background-color: var(--color-dark-select-bg);
    color: var(--color-dark-select-text);
  }

  /* Arama kutusu */
  .search-box {
    display: flex;
    width: 100%;
    max-width: 600px;
  }

  input[type="search"] {
    flex: 1;
    padding: 14px 16px;
    font-size: 16px;
    border: 1px solid var(--color-input-border);
    border-radius: 30px 0 0 30px;
    outline: none;
    transition: border 0.3s;
  }

  body.light input[type="search"] {    
    color: #fff;
    color: var(--color-light-settings-panel-text);
    background-color: #fff;
  }
   
  body.dark input[type="search"] {
    color: #222;
    color: var(--color-light-settings-panel-text);
    /* background-color: #222; */
    background-color: #ededed;
  }

  /* arama butonu  */
  body.dark button[type="submit"] {
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    background-color: var(--color-dark-submit-btn-bg);
    color: var(--color-dark-submit-btn-text-bg);
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    white-space: nowrap;
  }

  body.dark button[type="submit"]:hover {
    background-color: var(--color-dark-submit-btn-hover-bg);
  }

  body.light button[type="submit"] {
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    background-color: var(--color-light-submit-btn-bg);
    color: var(--color-light-submit-btn-text-bg);
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    white-space: nowrap;
  }

  body.light button[type="submit"]:hover {
    background-color: var(--color-light-submit-btn-hover-bg);
  }

  /* Sallama animasyonu */
  .shake {
    animation: shake 0.4s;
  }

  /* Güçlü Sallama animasyonu */
  .shake-strong {
    animation: shake-strong 0.4s;
  }

  @keyframes shake-strong {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-50px, -12px); }
    40% { transform: translate(12px, 12px); }
    60% { transform: translate(-12px, 12px); }
    80% { transform: translate(12px, -12px); }
    100% { transform: translate(0, 0); }
  }

  .custom-line {
    width: 100%;
    border-bottom: 1px solid #444; /* İnce çizgi */
    padding-bottom: 10px; /* Çizgi ile metin arasındaki boşluk */
    margin-bottom: 15px; /* Altındaki içerikle boşluk */
    font-size: 16px; /* Yazı boyutu */
    text-align: center; /* Ortalamak için */
  }

  .devPart{
    width: 100%;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-6px); }
    50% { transform: translateX(6px); }
    75% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
  }

  /* Varsayılan checkbox'ı gizle */
  .custom-checkbox input[type="checkbox"] {
    display: none;
  }

  .UserSettings .NotChecked {
    opacity: 1;
    background: url('Assets/checkboxUncheckedWhite.svg') no-repeat center;
  }
  
  .UserSettings .Checked {
    opacity: 0;
    background: url('Assets/checkboxCheckedWhite.svg') no-repeat center;
  }

  .UserSettings input[type="checkbox"]:checked ~ .NotChecked {
    opacity: 0; /* İşaretliyken gizle */
  }

  .UserSettings input[type="checkbox"]:checked ~ .Checked {
    opacity: 1; /* İşaretliyken göster */
  }

  body.light select {
    background-color: var(--color-light-select-bg);
    color: var(--color-light-select-text);
  }

  body.dark select {
    background-color: var(--color-dark-select-bg);
    color: var(--color-dark-select-text);
  }

  /* Footer Alert */
  #footerAlert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-dark-footer-bg);
    color: var(--color-dark-footer-text);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    z-index: 1000;
  }
  body.light #footerAlert {
    background-color: var(--color-light-footer-bg);
    color: var(--color-light-footer-text);
  }
  body.dark #footerAlert {
    background-color: var(--color-dark-footer-bg);
    color: var(--color-dark-footer-text);
  }

  /* Bildirim kutusu (notificationBox) */
  #notificationBox {
    background-color: var(--color-dark-notification-bg);
    color: var(--color-dark-notification-text);
  }
  body.light #notificationBox {
    background-color: var(--color-light-notification-bg);
    color: var(--color-light-notification-text);
    box-shadow: 0 2px 16px #0002;
  }
  body.dark #notificationBox {
    background-color: var(--color-dark-notification-bg);
    color: var(--color-dark-notification-text);
    box-shadow: 0 2px 16px #0005;
  }

  #notificationBox * {
    color: inherit !important;
  }

  /* newVersion bildirimi de notificationBox ile aynı kutuda gösteriliyor, ek bir stil gerekmiyor */
  #notificationClose {
    color: inherit !important;
  }


  #settingsAlert {
  display:none;
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 180px;
  max-width: 260px;
  text-align: left;
  padding: 12px 18px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 16px #0005;
  z-index: 900;
  }

  body.light #settingsAlert {
  background-color: var(--color-light-notification-bg);
  color: var(--color-light-notification-text);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.471);
  }
  body.dark #settingsAlert {
    background-color: var(--color-dark-notification-bg);
    color: var(--color-dark-notification-text);
    box-shadow: 0 2px 16px #0005;
  }

  #donateButton {
    background-color:yellow;
    /* position: fixed;
    bottom: 20px;
    right: 20px; */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1002;
    font: Arial;
  }

  body.light #donateButton {
    background-color:var(--color-light-donete-bg);
    color: var(--color-light-settings-btn-text);
  }

  body.dark #donateButton {
    background-color:var(--color-dark-donete-bg);
    color: var(--color-dark-settings-btn-text);
  }

  body.light #donateButton:hover {
    background-color:var(--color-light-donete-bg-hover);
  }

  body.dark #donateButton:hover {
    background-color:var(--color-dark-donete-bg-hover);
  }

  /* Mobil cihazlar için düzenlemeler */
  @media (max-width: 480px) {

    .logo {
      font-size: 24px;
      margin-bottom: 20px;
    }

    body {
      padding: 10px;
    }

    /* ayarlar butonu */
    .settings-button {
      z-index: 999;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 10px;
    }
  
    .settings-panel {
      min-width: 90vw;
      left: 5vw;
      right: 5vw;
      top: 60px;
      padding: 10px;
      font-size: 13px;
    }

    .settings-group select {
      padding: 10px;
      font-size: 16px;
    }

    /* arama kutusu için iyileştirme */
    .search-box {
      flex-direction: column;
      max-width: 100vw;
    } 

    input[type="search"],
    button[type="submit"] {
      border-radius: 30px;
      font-size: 16px;
      margin: 5px 0;
      width: 100%;
      box-sizing: border-box;
    }

    button[type="submit"] {
      border-radius: 30px;
    }

    body.dark button[type="submit"],
    body.light button[type="submit"] {
      border-radius: 30px;
      font-size: 16px;
      margin: 5px 0;
      width: 100%;
      box-sizing: border-box;
      /* Gerekirse padding, background vs. de ekleyin */
    }
  }